In [9]:
from pyspark.sql import SparkSession

# Init spark sesion
spark = SparkSession.builder.appName("HelloSpark").master("spark:http://THANH-TINH-PC:8080").getOrCreate()

In [10]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
from pyspark.sql import SparkSession

# Init spark sesion

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df.show(2)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 2 rows

In [11]:
df_player = spark.read.csv(r"..\files\raw\fbref_data\Champions-League\PLAYERS\2024\2025-03-09_01-49-32.csv", header=True, inferSchema=True)
df_player.show(2)
df_parquet = df_player.write.parquet(r"..files\Parquet\input.parquet", mode="overwrite")
df_parquet.show(4)

+------+-----------+----------------+-------+---------+--------+--------+----+
|Season|Natural Key|            Name| Nation|Positions|Squad_ID|   Squad|Born|
+------+-----------+----------------+-------+---------+--------+--------+----+
|  2024|   f586779e|   Tammy Abraham|eng ENG|       FW|dc56fe14|it Milan|1997|
|  2024|   b96b595c|Francesco Acerbi| it ITA|       DF|d609edc0|it Inter|1988|
+------+-----------+----------------+-------+---------+--------+--------+----+
only showing top 2 rows

AttributeError: 'NoneType' object has no attribute 'show'

In [ ]:
df = df_parquet
# Chọn cột
df.select(df["Name"], df["Positions"]).show()

# Lọc dữ liệu
df.filter(df["Born"] >2000).show()

# Nhóm và đếm
df.groupBy("Squad").count().show()

In [ ]:
df_player = spark.read.csv(r"..\files\CSV\player.csv",header=True, inferSchema=True)
df_player.show(2)
df_match = spark.read.csv(r"..\files\CSV\input_file.csv",header=True, inferSchema=True)

df_match.show(4)
# Join DataFrames
df_match_player = df_player.join(df_match, df_player["Squad_ID"] == df_match["team_id"], "inner") 
df_match_player.show(10)


#df1.join(df2, df1["id"] == df2["id"], "inner").show()

NameError: name 'spark' is not defined

In [ ]:
squad_id ="Juventus"
df_match_player.filter(df_match_player["Squad"] == squad_id).show()

NameError: name 'df_match_player' is not defined